* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100vh;
  width: 100vw;
}
:root {
  --main-body-background: rgb(211, 235, 241);
  --main-body-text: black;
  --widget-background-color: white;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19rem;
  padding: 0.5em 1.25em;
}
#input-navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
#input-navlinks input {
  border-radius: 7px;
  padding: 0.1rem 0.5rem;
  transition: width 0.8s ease-in-out;
  width: 25%;
  font-size: 10px;
  font-weight: 700;
}
#input-navlinks input:hover {
  width: 110%;
  /* font-size: small; */
}
.main-body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-body-background);
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}
.category button {
  background-color: white;
  font-size: smaller;
  padding: 1px 4px;
}
#button-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0px 5px;
  background-color: rgb(212, 225, 228);
}
#button-input input {
  width: 5rem;
  border: 2px solid blue;
  color: blue;
  padding: 1px 2px;
  font-weight: 900;
}
.widget-container {
  /* background-color: red; */
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: safe;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 1vw;
  background-color: rgb(187, 223, 211);
  /* height: 100vh; */
}
.widget {
  background-color: var(--widget-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2px 4px;
  min-height: 15vh;
  gap: 0.5rem;
  margin: 5px;
  border-radius: 15px;
}
.widget #img-and-data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: smaller;
}
.widget img {
  height: 5rem;
  width: 5rem;
}
#widget-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2px 4px;
}
.widget-child img {
  height: 5rem;
  width: 5rem;
}
#widget-content ul {
  font-size: smaller;
}
#img-and-data {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-direction: column; */
}
.overflow-container {
  height: 100vh;
  position: fixed;
  width: 50vw;
  right: 0;
  background-color: white;
  color: black;
  border: 2px solid black;
  display: none;
  padding: 1px 3px;
}
.header {
  background-color: navy;
  color: white;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  padding: 1px 4px;
  /* gap: 25rem; */
}
.overflow-container #heading {
  padding: 3px;
}
.widget-menu {
  display: flex;
  align-items: normal;
  justify-content: start;
  gap: 3rem;
  padding: 3px;
}
.widget-menu button {
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
}
.widget-menu button::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  transition: width 0.2s ease-in-out;
}
.widget-menu button:hover::after {
  width: 100%;
  /* background-color: red; */
}

#image img {
  height: 3rem;
  display: block;
  border: 0.7px solid black;
  margin: 2px;
}

.widget-content {
  display: none;
  margin-top: 20px;
}
.active {
  display: flex;
  flex-direction: column;
}

.cover-the-page {
  position: absolute;
  z-index: 999;
  opacity: 0.3;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: none;
}
